*{
     margin: 0;
     padding: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#header-container{
     max-width: 100%;
     position: absolute;
     overflow: auto;
     background-color: rgb(10, 10, 10);
     position: relative;
     top: 0;
}

#about-me{
     position: relative;
     letter-spacing: 2px;
     padding: 30px 60px;
     color: rgb(255, 255, 255);
     text-align: center;
     font-weight: bolder;
     font-size: 30px;
     text-transform: uppercase;
}



#information-container{
  align-items: center;
     width: 80%;
     margin-top: 30px;
     padding: 15px 25px;
     position: absolute;
     box-shadow: 2px 5px 15px 0 rgb(0, 0, 0);
     border-radius: 10px;
     left: 50%;
     transform: translate(-50%, 0%);

}

div{
     width: 100%;
     margin-bottom: 30px;
     border-radius: 20px;
}

div>label{
  font-weight: bolder;
}

.display_pic{
  display:flex;
  flex-direction: column;
}

div>label~img{
     max-width: 150px;
}

div>label~span{
     /* text-transform: uppercase; */
     font-size: 20px;
     font-variant: small-caps;
}
